
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #B0C5A4;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

main {
    padding: 20px;
}

.author-info {
    display: flex;
    margin-bottom: 20px;
}

.author-info img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin-right: 20px;
}

.author-details h2 {
    margin: 0;
}

div ul li {
    padding: 10px;
}

.social-links img {
    width: 30px;
    margin-right: 20px;
}

footer {
    width: 100%;
    background-color: #B0C5A4;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
}
