:root {
    --primary-color: #28bf96;
    --primary-color-dark: #209677;
    --text-dark: #111827;
    --text-light: #6b7280;
    --white: #ffffff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    border: 2px black;
    padding: 20px;
}
header ul li {
    margin-left: 100px;
}

h2 {
    padding: 10px;
}
p {
    padding: 5px;
}
a {
    color: #28bf96;
    padding: 5px;
}

a:hover {
    text-decoration: underline;
}


form {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border: 2px black;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group textarea {
    height: 150px;
    resize: vertical;
}

.btn-submit {
    background: #209677;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
}

.btn-submit:hover {
    background: #28bf96;
}

.confirmation-message {
    margin-top: 1rem;
    padding: 1rem;
    background: #dff0d8;
    color: #28bf96;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
}

